Options +FollowSymlinks
RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^(.*)$ index.php/$1 [L]
php_value date.timezone "America/Sao_Paulo"
php_value max_input_vars 10000

php_value upload_max_filesize 300M
php_value post_max_size 300M
php_value max_execution_time 300
php_value max_input_time 300