/* Geral */
p {
  font-size: 15px;
  line-height: 20px;
}
h1 {
  text-transform: uppercase;
  font-size: 22px;
  line-height: 28px;
  font-weight: bold;
}
h4 {
  font-weight: bold;
  font-size: 18px;
}

@media screen and (max-width: 767px) {
  p {font-size: 13px;}
  h1 {font-size: 18px; line-height: 24px;}
  h4 {font-size: 16px; line-height: 22px;}
  label {font-size: 13px; line-height: 18px;}
}

/* Header */
header {
  background: #000;
  height: 50px;
  position: relative;
}
.logo {
  padding-top: 5px;
}
.logo img {
  max-height: 35px;
  width: auto;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  header {
    text-align: center;
    height: 40px;
  }
  .logo img {
    max-height: 30px;
  }
}

/* Intro */
.intro {
  width: 100%;
  background: url('../img/bg-salao-de-beleza.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  display: table;
}
.intro .container {
  text-align: center;
  margin: 0 auto;
}
.intro h1,
.intro p {
  color: #fff;
}
.btn-comecar {
  height: auto;
  width: auto;
  color: #cd9229;
  border-radius: 5px;
  border: 2px solid #cd9229;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  background: none;
  padding: 15px 25px;
}
.btn-comecar:hover,
.btn-comecar:active {
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  .intro .container {
    padding: 30px 0 50px 0;
    width: 96%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .intro .container {
    padding: 40px 0 60px 0;
    width: 90%;
  }
}
@media screen and (min-width: 992px) {
  .intro .container {
    padding: 60px 0 80px 0;
    width: 55%;
  }
}

/* Questionário */
.questionario {
  padding: 50px 0;
}
.questionario ul {
  border-bottom: 1px dashed #ccc;
  padding: 15px 0 20px 0;
  margin: 0;
  margin-bottom: 0;
}
#q5 {
  margin-bottom: 20px;
}
.questionario h4 span {
  color: #cd9229;
}
.questionario ul li:first-child,
#q3 li,
#q4 li  {
  padding: 4px 0;
}
.questionario li {
  list-style: none;
  padding: 4px 0 4px 20px;
}
.questionario label {
  font-weight: normal;
  font-size: 15px;
  color: #333;
}
.questionario  .checkbox,
.questionario  .radio {
    margin-top: 0;
    margin-bottom: 0;
}
.questionario  input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
}
#formularioBasico {
  margin: 30px 0;
}
.control-group {
  margin-bottom: 20px;
}
.control-group label {
  width: 80px;
  float: left;
}
.btn-quero {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 16px;
  background: #cd9229;
  color: #fff;
  border: none;
  text-align: center;
  width: 500px;
}
.btn-quero:hover,
.btn-quero:active {
  background: #000;
}

/* Resposta */
.resposta {
  width: 100%;
  background: #f9c568;
  position: relative;
}

/* Footer */
footer {
  height: auto;
  text-align: center;
  background: #000;
  padding: 5px 0;
  color: #fff;
}
footer a {
  color: #cd9229;
}
footer a:hover,
footer a:active {
  color: #fff;
}

#boxLoadUtilShadow {
    position: fixed;
    width: 100%;
    height: 100%;  
    left: 0px;
    top: 0px;
    opacity: 0.8!important;
    filter: alpha(opacity=80)!important;
    z-index: 1041;
    background-color: #000;
}

#boxLoadUtil {
    position: fixed;
    width: 100%;
    height: 100%;  
    left: 0px;
    top: 0px;
    z-index: 1050;
    text-align: center;
}

#loadUtilCarregando {
    width: 100%;
    max-width: 1000px;
    padding-top: 20%;
    margin: 6px auto;
    text-align: center;
    color: #fff;
}



