/* Geral */
p {
  font-size: 16px;
  line-height: 20px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  color: #000;
}
h1 {
  text-transform: uppercase;
  font-size: 20px;
  line-height: 28px;
  font-weight: 700;
  font-family: 'Roboto Condensed', sans-serif;
}
h4 {
  font-weight: 400;
  font-size: 16px;
  font-family: 'Roboto Condensed', sans-serif;
  text-transform: uppercase;
}
li, label {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
  font-size: 16px;
  color: #000;
}
.text-center {
  text-align: center !important;
}

@media screen and (max-width: 767px) {
  p {font-size: 13px;}
  h1 {font-size: 18px; line-height: 24px;}
  h4 {font-size: 15px; line-height: 22px;}
  label {font-size: 13px; line-height: 18px;}
}

/* Header */
header {
  background: #000;
  height: 50px;
  position: relative;
}
.logo {
  padding-top: 5px;
}
.logo img {
  max-height: 35px;
  width: auto;
  height: auto;
  max-width: 100%;
}

@media screen and (max-width: 767px) {
  header {
    text-align: center;
    height: 40px;
  }
  .logo img {
    max-height: 30px;
  }
}

/* Intro */
.intro {
  width: 100%;
  background: url('../img/bg-salao-de-beleza.jpg') no-repeat;
  background-size: cover;
  position: relative;
  height: auto;
  display: table;
}
.intro .container {
  text-align: center;
  margin: 0 auto;
}
.intro h1,
.intro p {
  color: #fff;
}
.btn-comecar {
  height: auto;
  width: auto;
  color: #cd9229;
  border-radius: 5px;
  border: 2px solid #cd9229;
  font-size: 16px;
  text-align: center;
  margin-top: 30px;
  background: none;
  padding: 15px 25px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400;
}
.btn-comecar:hover,
.btn-comecar:active {
  color: #fff;
  border: 2px solid #fff;
}

@media screen and (max-width: 767px) {
  .intro .container {
    padding: 30px 0 50px 0;
    width: 96%;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
  .intro .container {
    padding: 40px 0 60px 0;
    width: 90%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px) {
  .intro .container {
    padding: 50px 0 70px 0;
    width: 70%;
  }
}
@media screen and (min-width: 1200px) {
  .intro .container {
    padding: 60px 0 80px 0;
    width: 55%;
  }
}

/* Questionário */
.questionario {
  padding: 50px 0;
  background: #f0f0f0;
}
.questionario .container {
  padding: 10px 30px 30px 30px;
  background: transparent;
}
.questionario ul.questao {
  border-bottom: 1px dashed #ccc;
  padding: 15px 0 20px 0;
  margin: 0;
  margin-bottom: 0;
}
#q5 {
  margin-bottom: 20px;
}
.questionario h4 {
  line-height: 24px;
}
.questionario h4 span {
  color: #cd9229;
}
.questionario ul li:first-child,
#q3 li,
#q4 li  {
  padding: 4px 0;
}

#q1 .parsley-errors-list, #q5 .parsley-errors-list {
    
}

.erro-manual {
    display: none;
}

.questionario li {
  list-style: none;
  padding: 4px 0 4px 20px;
}
.questionario label {
  font-weight: normal;
  font-size: 15px;
  color: #333;
}
.questionario  .checkbox,
.questionario  .radio {
    margin-top: 0;
    margin-bottom: 0;
}
.questionario  input[type="checkbox"] {
  width: 15px;
  height: 15px;
  background: #fff;
  border: 1px solid #999;
  border-radius: 3px;
}
#formularioBasico {
  margin: 30px 0;
}
.control-group {
  margin-bottom: 20px;
}
.control-group label {
  width: 80px;
  float: left;
}
.btn-quero {
  padding: 15px 20px;
  border-radius: 5px;
  font-size: 15px;
  text-transform: uppercase;
  font-weight: 400;
  background: #cd9229;
  color: #fff;
  border: none;
  text-align: center;
  width: 100%;
  border: 2px solid #fff;
}
.btn-quero:hover,
.btn-quero:active {
  background: #000;
}
@media screen and (max-width: 767px){
  .questionario {
    padding: 30px 0;
  }
  .questionario .container {
    padding: 10px 20px 20px 20px;
    width: 94%;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .questionario .container {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .questionario .container {
    width: 60%;
  }
}

/* Resposta */
.resposta {
  width: 100%;
  background: #f9c568;
  position: relative;
  padding: 40px 0;
  margin: 0 auto;
}
.resposta .container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}
.resposta .container .row {
    display: none;
}
.resposta p{
  font-size: 15px;
  margin: 25px 0;
  line-height: 20px;
}
.resposta img {
  max-width: 100%;
  height: auto;
}
.resposta1,
.resposta2,
.resposta3,
.resposta4,
.resposta5 {
  background: #fff;
  margin-bottom:20px;
  border: 1px dashed #cd9229;
  padding: 10px 30px 5px 30px;
}
.resposta1 h4,
.resposta2 h4,
.resposta3 h4,
.resposta4 h4,
.resposta5 h4 {
  color: #cd9229;
}
@media screen and (max-width: 767px) {
  .resposta,
  .cadastro .container {
    width: 94%;
  }
  .cadastro {
    padding: 25px 0;
  }
}
@media screen and (min-width: 768px) and (max-width: 991px){
  .resposta,
  .cadastro .container {
    width: 86%;
  }
}
@media screen and (min-width: 992px) and (max-width: 1199px){
  .resposta,
  .cadastro .container {
    width: 80%;
  }
}
@media screen and (min-width: 1200px) {
  .resposta,
  .cadastro .container {
    width: 70%;
  }
}

/* Cadastro */
.cadastro {
  padding: 50px 0;
  background: #cd9229;
}
.cadastro .container {
  margin-right: auto;
  margin-left: auto;
}
.cadastro button {
  background: none;
  border: 2px solid #fff;
  padding: 15px 40px;
  font-size: 15px;
  font-weight: 400;
  text-transform: uppercase;
  color: #fff;
  border-radius: 5px;
}
.cadastro button:hover,
.cadastro button:active {
    background: #000;
}
.cadastro a {
  text-decoration: none;
  color: #865705;
  font-weight: 700;
  border-bottom: 1px dashed #865705;
}
.cadastro img {
  width: auto;
  max-height:400px;
  max-width: 100%;
}


/* Footer */
footer {
  height: auto;
  text-align: center;
  background: #000;
  padding: 5px 0;
  color: #fff;
}
footer a {
  color: #cd9229;
}
footer a:hover,
footer a:active {
  color: #fff;
}

#boxLoadUtilShadow {
    position: fixed;
    width: 100%;
    height: 100%;  
    left: 0px;
    top: 0px;
    opacity: 0.8!important;
    filter: alpha(opacity=80)!important;
    z-index: 1041;
    background-color: #000;
}

#boxLoadUtil {
    position: fixed;
    width: 100%;
    height: 100%;  
    left: 0px;
    top: 0px;
    z-index: 1050;
    text-align: center;
}

#loadUtilCarregando {
    width: 100%;
    max-width: 1000px;
    padding-top: 20%;
    margin: 6px auto;
    text-align: center;
    color: #fff;
}



