/* CSS Document */

#conteudoADM {
	margin-left:0px !important;
}

.hidden-print {
	display:none !important;
}
.visible-print {
	display:block !important;
}
.hidden-print-table td:last-child, .hidden-print-table th:last-child {
	display:none !important;
}
#tableFilter_wrapper .row-fluid {
	display:none !important;
}
.conteudo {
    border: 0px!important;
}
.DTTT.btn-group, #tableFilter_filter, #tableFilter_length, #tableFilter_info, #tableFilter_paginate {
	display:none !important;
}

.campoRelatorio {
	width:150px !important;
	float:left !important;
}